$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$color-1: #225378;
$color-2: #666;
$color-3: #FAFAFA;
$color-4: #EB7F00;
$color-5: #CCC;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

// mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
 
body {
  font-family: 'Merriweather', serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header,
.big-list,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  h1 {
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    letter-spacing: 1px;
    color: $color-1;
  }
  span {
    font-size: 28px;
    margin-right: 5px;    
  }
}
.big-list {
  min-height: 60px;
  position: relative;
  margin-top: 90px;
  .glyphicon-refresh {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: -15px;
  }
  h2 {
    display: inline-block;
    color: $color-2;
    font-size: 12px;
    margin: 0;
    width: 90%;
  }
  .list-group-item:first-child, .list-group-item:last-child {
    @include border-radius(0); 
  }
  li {
    cursor: pointer;
  }
  li:hover {
    background: $color-3;
  }
}
.search-bar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80px;
  height: 50px;
  background: $color-1;
  text-align: center;
  color: #fff;
  font-size: 16px;
  input {
    width: 270px;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px 2px;
    color: $color-1;
    @include border-radius(3px); 
    border: none;
    outline: none;
  }
}
.footer {
  color: #777;
}
.container-narrow > hr {
  margin: 30px 0;
}
.articles {
  .glyphicon {
    color: $color-5;
  }
}
.modal-content {
  @include border-radius(3px); 
  .modal-header {
    background: $color-1;
    color: #fff;
    .close {
      cursor: pointer;
      margin-top: 5px;
    }
  }
  .modal-body {
    overflow: hidden;
    .article-image {
      max-width: 200px;
      margin-left: 15px;
    }
    .article-body img {
      display: none;
    }
    .article-date {
      color: $color-5;
    }
  }
  .modal-footer {
    .btn {
      background: $color-4;
      border: $color-5;
    }
    .btn:hover {
      background: lighten($color-4, 10%);
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header,
  .big-list,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

.glyphicon-refresh-animate {
    animation: spin 1s infinite linear;
}

@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  } 
}
