
<div class="search-bar">
  <span class="glyphicon glyphicon-search"></span><input ng-model="searchText" placeholder="search">
</div>

<div class="row big-list">
  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
  <ul class="list-group articles">
    <li class="list-group-item" ng-repeat="article in articles | filter:searchText" ng-click="open($index)" >
      <h2 ng-bind-html="article.title"></h2>
      <span ng-if="article['media:content'].url" class="glyphicon glyphicon-camera pull-right"></span>
    </li>
  </ul>
</div>